@charset "UTF-8";
/* Основные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Wix Madefor Text";
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
}

.nav {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  list-style-type: none;
}
.nav__link {
  position: relative;
  color: #000;
  /* Базовый цвет текста */
  font-family: "Wix Madefor Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
  overflow: hidden;
  /* Для анимации */
  transition: color 0.3s ease;
  /* Эффект при наведении */
  /* Анимация "подчеркивания" текста */
}
.nav__link:hover {
  color: #413B83;
  /* Меняем цвет текста */
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #535bed 0%, #65acff 100%);
  transition: width 0.3s ease-in-out;
}
.nav__link:hover::after {
  width: 100%;
  /* Линия подчеркивания растет */
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero__container {
  width: 95%;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 80px;
  border-radius: 32px;
  background: linear-gradient(90deg, #FFF5F5 0%, #E7EAFC 50%, #E7EAFC 50.01%, #FFF5F5 100%);
  background-size: 200%;
  animation: bg-pan-left 3s forwards infinite alternate;
}
.hero__title {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  position: relative;
  background: url(../images/back-top1.svg) no-repeat 25% 70%, url(../images/back-top2.svg) no-repeat 80% 29px;
}
.hero__highlight {
  position: absolute;
  z-index: 1000;
  top: 46px;
  left: 52%;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  transform: rotate(-2deg);
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("../images/back_title.svg");
  background-size: cover;
  /* Покрывает всю область */
  background-position: center;
  background-repeat: no-repeat;
}
.hero__highlight-text {
  transform: rotate(-3deg);
}
.hero__img {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.hero__subtitle {
  color: #2E2E2E;
  text-align: center;
  max-width: 745px;
  margin: 0 auto;
  font-family: "Wix Madefor Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 64px;
}
.hero__button {
  display: flex;
  width: 419px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid #000;
  background: linear-gradient(90deg, #ff314a 0%, #65acff 50%, #65acff 50.01%, #535bed 100%);
  /* Два градиента в одном фоне */
  background-size: 200% 100%;
  /* Растягиваем фон */
  background-position: 0% 50%;
  /* Изначальная позиция */
  box-shadow: -3px 3px 0px 0px #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background 1s ease;
}
.hero__button:hover {
  background-position: 100% 50%;
  /* Сдвигаем фон вправо */
  box-shadow: 0px 0px 0px 0px #000;
}
.hero__arrow-container {
  display: flex;
  justify-content: center;
}

@keyframes gradient-change {
  0% {
    background: var(--Primary-Gradient, linear-gradient(270deg, #65ACFF 0%, #FF314A 100%));
  }
  100% {
    background: var(--Secondary-Gradient, linear-gradient(93deg, #CAB3F1 4.56%, #535BED 103.19%));
  }
}
.programs {
  padding-top: 100px;
  padding-bottom: 100px;
}
.programs__title {
  color: var(--Text-Black, #000);
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
}
.programs__filters {
  padding-top: 32px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.programs__filter {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  height: 48px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 66px;
  border: 1px solid #413B83;
  background-color: #fff;
  color: var(--Text-Light-Gray, #2E2E2E);
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.programs__filter_active {
  background-color: #413B83;
  color: #fff;
}
.programs__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  margin-top: 64px;
  justify-content: center;
}

.course-card {
  position: relative;
  padding: 48px;
  min-height: 532px;
  border-radius: 32px;
  border: 1px solid #A5A8B1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  transition: background 0.3s;
  overflow: hidden;
  /* Анимация шлейфа */
}
.course-card:hover {
  background: #413B83;
  color: white;
}
.course-card:hover .course-card__description, .course-card:hover .course-card__price, .course-card:hover .course-card__cost {
  color: white;
}
.course-card__top {
  position: relative;
  z-index: 2;
}
.course-card .flame {
  position: absolute;
  width: 40px;
  /* Размер "огонька" */
  height: 40px;
  background: radial-gradient(circle, #6c1afa, rgba(255, 255, 255, 0));
  border-radius: 50%;
  pointer-events: none;
  /* Чтобы "огонёк" не мешал взаимодействию */
  animation: flame-trail 0.3s ease-out forwards;
  /* Анимация исчезновения */
  transform: translate(-50%, -50%);
  /* Центрирование огонька */
}
@keyframes flame-trail {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
    /* Увеличиваем и исчезаем */
  }
}
.course-card:hover {
  background: #413B83;
  color: white;
}
.course-card:hover .course-card__description, .course-card:hover .course-card__price, .course-card:hover .course-card__cost .course-card:hover .course-card__info {
  color: white;
  position: relative;
  z-index: 2;
}
.course-card:hover .course-card__button {
  position: relative;
  z-index: 2;
}
.course-card:hover .course-card__icon {
  animation: heartbeat 1.5s ease-in-out 1 both;
}
.course-card__icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  z-index: 2;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.course-card__title {
  font-family: "Wix Madefor Text";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 16px;
}
.course-card__start {
  display: inline-flex;
  height: 32px;
  padding: 7px 16px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 100px;
  background: linear-gradient(93deg, #CAB3F1 4.56%, #535BED 103.19%);
  color: #fff;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course-card__lessons {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 24px;
}
.course-card__info {
  display: flex;
  height: 32px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #2E2E2E;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 24px;
  background: var(--Micro-Gray, #EFF0F5);
}
.course-card__description {
  color: #2E2E2E;
  /* Secondary Body 16 */
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.course-card__pricing {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.course-card__price {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #EFF0F5;
  color: #2E2E2E;
  font-family: "Wix Madefor Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.course-card__cost {
  color: #000;
  font-family: "Wix Madefor Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.course-card__button {
  display: flex;
  width: 368px;
  height: 48px;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #2E2E2E;
  background: #FFF;
  box-shadow: -3px 3px 0px 0px #000;
  color: #000;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  transition: all 0.4s;
}
.course-card__button:hover {
  cursor: pointer;
  background: #000;
  color: white;
  box-shadow: 0px 0px 0px 0px #000;
}

.tech-stack__container {
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 32px;
  background: #413B83;
  margin-bottom: 100px;
}
.tech-stack__container:hover .tech-stack__icon {
  animation-name: wave;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.tech-stack__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.tech-stack__subtitle {
  position: relative;
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  padding: 10px;
  /* Внутренние отступы для текста */
  border-radius: 32px;
  border: 1.5px solid transparent;
  /* Двойной фон для градиентной рамки и фона */
  background-image: linear-gradient(#413B83, #413B83), linear-gradient(45deg, #FF314A, #65ACFF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.tech-stack__title {
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
}
.tech-stack__description {
  color: #F1F3FF;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tech-stack__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 64px;
}
.tech-stack__icon {
  margin-left: -15px;
  height: auto;
  border-radius: 50%;
  transition: transform 1.5s ease;
  animation: none;
}
.tech-stack__icon:nth-child(1) {
  animation-delay: 0s;
}
.tech-stack__icon:nth-child(2) {
  animation-delay: 0.1s;
}
.tech-stack__icon:nth-child(3) {
  animation-delay: 0.2s;
}
.tech-stack__icon:nth-child(4) {
  animation-delay: 0.3s;
}
.tech-stack__icon:nth-child(5) {
  animation-delay: 0.4s;
}
.tech-stack__icon:nth-child(6) {
  animation-delay: 0.5s;
}
.tech-stack__icon:nth-child(7) {
  animation-delay: 0.6s;
}
.tech-stack__icon:nth-child(8) {
  animation-delay: 0.7s;
}
.tech-stack__icon:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.education-stages {
  margin-bottom: 100px;
}
.education-stages__container {
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 32px;
  background: #f1f3ff;
  margin-top: 100px;
  width: 93%;
  margin: 0 auto;
}
.education-stages__header {
  text-align: center;
  margin-bottom: 20px;
}
.education-stages__badge {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px;
  display: inline-block;
  border: 1.5px solid transparent;
  /* Двойной фон для градиентной рамки и фона */
  background-image: linear-gradient(#f1f3ff, #f1f3ff), linear-gradient(45deg, #ff314a, #65acff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.education-stages__title {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  margin-top: 10px;
}
.education-stages__grid {
  margin-top: 64px;
}
.education-stages__form {
  grid-column: span 1;
  display: flex;
  justify-content: center;
}
.education-stages__steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.form-card {
  border-radius: 24px;
  background: #413B83;
  padding: 24px;
  grid-row: 1/4;
}
.form-card__img {
  position: relative;
  top: -8px;
  right: -8px;
}
.form-card__header {
  display: flex;
  justify-content: space-between;
}
.form-card__step {
  display: inline-flex;
  height: 22px;
  padding: 2px 10px 4px 10px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #EFF0F5;
}
.form-card__title {
  color: #fff;
  font-family: "Wix Madefor Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.form-card__description {
  color: #EFF0F5;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 32px;
}
.form-card__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-card__input {
  color: #A5A8B1;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 10px;
}
.form-card__phone-group {
  display: flex;
  gap: 8px;
}
.form-card__phone-code {
  width: 76px;
  height: 48px;
  border-radius: 10px;
  outline: none;
}
.form-card__submit {
  display: flex;
  padding: 13px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #252525;
  background: #FFF;
  box-shadow: -3px 3px 0px 0px #000;
  color: #000;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 137.5% */
}
.form-card__consent {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: #EFF0F5;
  font-family: "Wix Madefor Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.step-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.step-card_big {
  grid-column: span 2;
  background-image: url(../images/gradient-bg.png);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
}
.step-card__header {
  display: flex;
  justify-content: space-between;
}
.step-card__step {
  font-size: 0.9em;
  color: #8d99ae;
  margin-bottom: 5px;
}
.step-card__title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.step-card__description {
  font-size: 0.9em;
  color: #4a4e69;
}

.about-expert__container {
  width: 90%;
  border-radius: 32px;
  border: 1px solid #A5A8B1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 64px;
}
.about-expert__info {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.about-expert__name {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px;
  border: 1.5px solid transparent;
  /* Двойной фон для градиентной рамки и фона */
  background-image: linear-gradient(white, white), linear-gradient(45deg, #FF314A, #65ACFF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.about-expert__fullname {
  color: var(--Text-Black, #000);
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
}
.about-expert__description {
  color: #2E2E2E;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 700px;
}
.about-expert__flex {
  display: flex;
  gap: 24px;
}
.about-expert__top {
  display: flex;
}
.about-expert__bottom {
  display: flex;
  gap: 24px;
}
.about-expert__content {
  display: flex;
  flex-direction: column;
}
.about-expert__image_photo {
  min-height: 525px;
}
.about-expert__photo {
  height: 100%;
}
.about-expert__cta {
  width: 714px;
  height: 132px;
  border-radius: 24px;
  background: #F1F3FF;
  padding: 24px;
  display: flex;
  gap: 24px;
}
.about-expert__cta-title {
  max-width: 245px;
}
.about-expert__cta-description {
  max-width: 220px;
  color: #2E2E2E;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 24px;
  background: #F1F3FF;
  max-width: 293px;
}
.info-card_height {
  flex-grow: 1;
}
.info-card__title {
  color: #000;
  font-family: "Wix Madefor Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.info-card__number {
  color: #000;
  font-family: "Wix Madefor Text";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}
.info-card__text {
  color: #A5A8B1;
  font-family: "Wix Madefor Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info-card__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.info-card__logos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}
.info-card__logo {
  height: 22px;
  padding: 2px 8px 4px 8px;
  align-items: center;
  border-radius: 24px;
  background: #FFF;
  color: #2E2E2E;
  font-family: "Wix Madefor Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.selection-help {
  margin-top: 100px;
  margin-bottom: 100px;
}
.selection-help__container {
  border-radius: 32px;
  background: #F1F3FF;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection-help__discount {
  padding: 10px;
  border-radius: 100px;
  border: 1.5px solid transparent;
  /* Двойной фон для градиентной рамки и фона */
  background-image: linear-gradient(#F1F3FF, #F1F3FF), linear-gradient(45deg, #FF314A, #65ACFF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.selection-help__discount-text {
  color: #000;
  text-align: center;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}
.selection-help__title {
  color: var(--Text-Black, #000);
  text-align: center;
  font-family: Unbounded;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.selection-help__subtitle {
  color: #2E2E2E;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.selection-help__features {
  display: flex;
  gap: 32px;
  margin-top: 64px;
  margin-bottom: 80px;
}
.selection-help__form {
  border-radius: 16px;
  background: #413B83;
  padding: 24px;
}
.selection-help__content {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.selection-help__input {
  color: #A5A8B1;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 16px;
  border-radius: 8px;
}
.selection-help__input_phone {
  width: 194px;
}
.selection-help__submit {
  display: flex;
  padding: 13px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #252525;
  background: linear-gradient(90deg, #ff314a 0%, #65acff 50%, #65acff 50.01%, #535bed 100%);
  /* Два градиента в одном фоне */
  background-size: 200% 100%;
  /* Растягиваем фон */
  background-position: 0% 50%;
  /* Изначальная позиция */
  box-shadow: -3px 3px 0px 0px #000;
  color: #fff;
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  width: 283px;
  transition: background 1s ease;
}
.selection-help__submit:hover {
  background-position: 100% 50%;
  /* Сдвигаем фон вправо */
  box-shadow: 0px 0px 0px 0px #000;
}
.selection-help__consent {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #EFF0F5;
  font-family: "Wix Madefor Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.custom-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 2px solid #9b9b9b;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}
.custom-checkbox:checked {
  background-image: url(../images/checkbox.svg);
  background-size: cover;
}
.custom-checkbox:focus {
  border-color: #8ab4f8;
}
.custom-checkbox:not(:checked):focus {
  border-color: #8ab4f8;
}
.custom-checkbox:checked:focus {
  background-color: #000;
  border-color: #8ab4f8;
}

.feature {
  display: flex;
  width: 178px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.feature__text {
  color: var(--Text-Light-Gray, #2E2E2E);
  text-align: center;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  border-radius: 32px 32px 0px 0px;
  background: var(--Primary-Blue, #413B83);
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer__heading {
  color: #FFF;
  font-family: "Wix Madefor Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__columns {
  display: grid;
  margin-top: 64px;
  grid-template-columns: repeat(3, 260px);
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer__subheading {
  color: #FFF;
  font-family: "Wix Madefor Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__link {
  color: #F1F3FF;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #A5A8B1;
}
.footer__icons {
  display: flex;
  gap: 16px;
}
.footer__coll {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__phone {
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.footer__phone:hover {
  text-decoration: underline;
}
.footer__text {
  color: #F1F3FF;
  font-family: "Wix Madefor Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__bottom {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__address {
  color: #A5A8B1;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__credits {
  color: #F4F6F7;
  font-family: "Wix Madefor Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 22px;
  align-items: center;
}

@media (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 636px);
    padding-right: calc(50% - 636px);
  }
  .course-card__button {
    width: 100%;
  }
  .course-card__title {
    font-size: 32px;
  }
  .info-card {
    max-width: 253px;
    flex-grow: 1;
  }
  .info-card_1280 {
    max-width: 361px;
  }
  .info-card__number {
    font-size: 52px;
  }
  .about-expert__photo {
    height: auto;
  }
  .about-expert__container {
    padding-left: 48px;
    padding-right: 48px;
    width: 95%;
  }
  .about-expert__details {
    margin-bottom: 24px;
  }
}
@media (max-width: 1080px) {
  .center {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
  .nav {
    gap: 32px;
  }
  .nav__link {
    font-size: 20px;
  }
  .hero__prof {
    width: 90%;
  }
  .education-stages__steps {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-expert__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-expert__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-card {
    max-width: 288px;
  }
  .info-card_1024 {
    max-width: 228px;
  }
  .info-card_1280 {
    max-width: 348px;
  }
  .about-expert__cta {
    width: 600px;
  }
  .selection-help__content {
    flex-wrap: wrap;
  }
  .selection-help__form {
    max-width: 640px;
  }
  .selection-help__input {
    max-width: 189px;
    flex-grow: 1;
  }
}/*# sourceMappingURL=style.css.map */